/* Issue in navbar scrolling - items hide the navbar at the end of the page */
/* Issue in navbar scrolling - items hide the navbar at the end of the page */
/* Issue in navbar scrolling - items hide the navbar at the end of the page */
/* Issue in navbar scrolling - items hide the navbar at the end of the page */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Bhaijaan+2&family=Bree+Serif&family=Cabin:wght@600&family=Source+Serif+Pro:wght@300&family=Supermercado+One&display=swap');
    
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;       /* content will show above bg */
    opacity: 0.7;
}

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 64px;
    margin: -5px 6px;
    clip-path: circle(45% at 50% 50%);
}

#navbar ul{
    display: flex;
    font-family: 'Baloo 2', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius:20px ;
    color: white;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    background-color: black;
    opacity: 0.8;
    display: none;
    position: absolute;
    z-index: 1;
    border-radius:20px ;
    text-decoration: none;
}
.dropdown-content a{
    display: block;
}
.dropdown:hover .dropdown-content{
    display: block;
    width: 100%;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    margin: -5px;
    height: 578px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background:url(../bg.jpg) no-repeat center center/cover;
    position: absolute;
    height: 570px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;       /* content will show above bg */
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}  
#chef{
    color: rgb(250, 250, 250);
    font-weight: 700;
    border: 1px solid rgb(255, 255, 255);
    /* background-color: rgb(73, 59, 59); */
    border-radius: 10px;
    padding: 3px;
}
#chef:hover{
    /* text-decoration:underline; */
    background-color: white;
    color: black;
}


#services{
    margin: -4px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 21px 21px;
    border-radius: 28px;
    background-color: rgb(220, 224, 228);
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;
}

#client-section{
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 25px;
}

#clients img{
    height: 85px;
}
#clients img:hover{
    width: 7rem;
    height: 7rem;
}

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg')  no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 0.8rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1rem;
    font-family: 'Bree Serif', serif;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
    height: 500px;
}

/* Utility classes */
.h-primary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif; 
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.8rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: brown;
}

.center{
    text-align: center;
}
